# Environment
.env
.env.local

# Go
backend/koshereats-api
backend/vendor/

# Node
web/node_modules/
web/.next/
web/out/

# iOS
ios/**/*.xcworkspace
ios/**/xcuserdata/
ios/**/DerivedData/
ios/**/*.xcodeproj/project.xcworkspace/
ios/**/Pods/
ios/**/.build/
ios/**/build/

# Android
android/**/build/
android/**/.gradle/
android/**/local.properties
android/**/google-services*.json
google-services*.json
android/**/*.iml
firebase-adminsdk*.json
*.p8
ios/**/firebase*.json

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
ios/**/firebase*.json
