<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189270494419-qfrr6u0e3mou1vpfat0r9kk5k5e3288c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189270494419-qfrr6u0e3mou1vpfat0r9kk5k5e3288c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>189270494419-72gjv0ess926qq2svl5gok38gt56qdnu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAZL8jiTop-XBdRvJCyKKQws9f-hRKZEN8</string>
	<key>GCM_SENDER_ID</key>
	<string>189270494419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.koshereats.consumer</string>
	<key>PROJECT_ID</key>
	<string>koshereats-c463e</string>
	<key>STORAGE_BUCKET</key>
	<string>koshereats-c463e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189270494419:ios:c22cfc0e80d5b53b25d826</string>
</dict>
</plist>